<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- コピーライト -->
  <add key="Copyright" value="Mxlab"/>

  <!-- アプリケーション名 -->
  <add key="ApplicationName" value="MvcFileUpload"/>

  <!-- ファイル アップロードの許可 -->
  <add key="AllowFileUpload" value="true"/>

  <!-- アップロード ファイルを格納するフォルダー -->
  <add key="FileUploadPath" value="~/UploadedFiles"/>

  <!-- アップロード ファイル出力のリトライ回数 -->
  <add key="UploadRetryTimes" value="1000"/>

  <!-- アップロードを許可・拒否するファイルの MIME タイプ -->
  <add key="AllowUploadingMimeFilter" value="application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
  <add key="DenyUploadingMimeFilter" value=""/>

</appSettings>

